/** 

BASISLIA-APP STYLE.CSS

Copyright: PIM Group
Author:	   Dirk Wagner

**/

/** GENERAL **/



/** LOADING SCREEN **/

	.preloader {
		background: none repeat scroll 0 0 #fff;
		opacity: 1;
		position: fixed;
		text-align: center;
		transition: all 0.5s ease 0s;
		z-index: 9999;
		height: 100%;
		width: 100%;
		left:0;
		top:0;
	}

	.preloader .spinner {
		position: relative;
		height: 30px;
		left: 50%;
		margin-left: -15px;
		margin-top: -15px;
		top: 50%;
		width: 30px;
	}

	@keyframes bounce {
		0%, 20%, 50%, 80%, 100% {
			transform: translateY(0px);
		}
		40% {
			transform: translateY(-30px);
		}
		60% {
			transform: translateY(-15px);
		}
	}

	.preloader .pre-bounce1, .preloader .pre-bounce2 {
		animation: 2s ease 0s normal none infinite running bounce;
		background-color: #c5006b;
		opacity: 0.6;
		position: absolute;
		border-radius: 50%;
		height: 100%;
		left: 0;
		top: 0;
		width: 100%;
	}

	.preloader .pre-bounce2 {
		animation-delay: -0.5s;
	}
		
/** HEADER **/
	
	#home-page .navigation, #help-page .navigation, #map-page .navigation, #list-page .navigation {
		background:#3d3d3d;
		border-bottom:1px solid #282828;
	}
	
	.navigation .app-logo img, .navigation .app-title h1 {
		margin:4px 0 0 0;
	}
	
	.navigation .app-logo img {
		width:42px;
		margin-left:4px;
	}
	
	.navigation .app-title {
		color:#FFFFFF;
		text-shadow:none;
		text-align:center;
	}
	
	.navigation .language-selector {
		text-align:right;
	}
	
	.navigation .language-selector .ger {
		background:transparent url(../res/img/flags/german.png) scroll 0 0 no-repeat;
	}
	
	.navigation #langauge-button {
		padding:1px 31px 3px 7px;
	}
	
	.navigation .language-selector span {
		padding:10px 10px 4px 20px;
		 
	}
	
	.navigation .language-selector option {
		padding:10px 10px 4px 20px;
		height:16px;
		background-position: center center !important;
	}
	
/** CONTENT HOME **/
	
	#home-page .box a {
		background:#c5006b;
	}
	
	#home-page .box img{
		max-width:40%;
	}